/* DISPONIBLES */

.section_galeria {
    text-align: center;
    padding-bottom: 50px;
    .container_disponibles {
        display: flex;
        width: 80%;
        margin: 0 auto;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
.container_disponibles {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img_disponibles {
    width: 350px;
    position: relative;
    margin: 10px;
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    border: 1px solid black;
}


/* RESPONSIVE */
@media screen and (max-width:1000px) {
    .container_disponibles {
        width: 95%;
        margin: 10px;
    }
}

@media screen and (max-width:700px) {
    .container_disponibles {
        width: 90%;
        margin: 5px;
    }
}

@media screen and (max-width:450px) {

    .container_disponibles {
        width: 98%;
    }

    .container_disponibles .img_disponibles {
        width: 80%;
    }
}