/* HOME */
.info_personal {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(180deg, #241740, #362360);
  padding: 50px 200px;
}
.info_personal h1 {
  color: #C8C3D2;
}
.info_personal p {
  color: #C8C3D2;
  margin-bottom: 0;
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .info_personal {
    padding: 50px 80px;
  }
}
@media screen and (max-width: 700px) {
  .info_personal {
    padding: 50px 60px;
  }
  p {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  .info_personal {
    padding: 50px 40px;
  }
  p {
    font-size: 14px;
  }
}
/* GALERIA */
.section_galeria {
  text-align: center;
  padding-bottom: 50px;
}
.section_galeria .container_galeria {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img_galeria {
  width: 350px;
  position: relative;
  margin: 10px;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  border: 1px solid #C8C3D2;
}

/* RESPONSIVE */
@media screen and (max-width: 1000px) {
  .container_galeria {
    width: 95%;
    margin: 10px;
  }
}
@media screen and (max-width: 700px) {
  .container_galeria {
    width: 90%;
    margin: 5px;
  }
}
@media screen and (max-width: 450px) {
  .container_galeria {
    width: 98%;
  }
  .container_galeria .img_galeria {
    width: 80%;
  }
}
/* DISPONIBLES */
.section_galeria {
  text-align: center;
  padding-bottom: 50px;
}
.section_galeria .container_disponibles {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container_disponibles {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img_disponibles {
  width: 350px;
  position: relative;
  margin: 10px;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  border: 1px solid black;
}

/* RESPONSIVE */
@media screen and (max-width: 1000px) {
  .container_disponibles {
    width: 95%;
    margin: 10px;
  }
}
@media screen and (max-width: 700px) {
  .container_disponibles {
    width: 90%;
    margin: 5px;
  }
}
@media screen and (max-width: 450px) {
  .container_disponibles {
    width: 98%;
  }
  .container_disponibles .img_disponibles {
    width: 80%;
  }
}
/* CUIDADOS */
.section_cuidados {
  text-align: center;
  padding-bottom: 50px;
}
.section_cuidados ol li, .section_cuidados ul li {
  color: #C8C3D2;
  list-style: none;
}
.section_cuidados .img_aquaphor {
  width: 500px;
  border-radius: 5px;
  border: #C8C3D2 solid 2px;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.4);
  margin-bottom: 30px;
}

@media screen and (max-width: 670px) {
  .img_aquaphor {
    max-width: 80%;
    width: 100%;
    height: auto;
  }
}
/* CONTACTO */
.contacto_form {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}
.contacto_form .contacto_informacion {
  width: 300px;
}
.contacto_form .contacto_informacion h3,
.contacto_form .contacto_informacion p {
  color: #C8C3D2;
}
.contacto_form .contacto_informacion .a_contacto_informacion {
  display: block;
  padding-bottom: 20px;
  color: #C8C3D2;
  font-size: 20px;
  /* text-decoration: none; */
}
.contacto_form .contacto_informacion .a_contacto_informacion:hover {
  color: white;
}

.form {
  width: 400px;
  background: linear-gradient(60deg, #241740, #362360);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 10px;
  color: #C8C3D2;
}
.form .espacio {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  background-color: #241740;
  border: 1px solid #e9f3fb;
  color: #C8C3D2;
}
.form .boton {
  width: 100%;
  background-color: #C8C3D2;
  border: none;
  padding: 10px;
  color: #241740;
  border-radius: 4px;
  font-size: 17px;
  border: 2px solid #241740;
}
.form .boton:hover {
  color: #C8C3D2;
  background-color: #241740;
  border: 2px solid #C8C3D2;
}

.map {
  width: 550px;
  height: 300px;
  border: 4px;
}

@media (max-width: 1160px) {
  .contacto_form {
    display: grid;
    padding: 0 auto;
  }
}
@media screen and (max-width: 1440px) {
  .map {
    width: 400px;
    height: 300px;
  }
}
@media screen and (max-width: 590px) {
  .map {
    width: 300px;
    height: 200px;
  }
  .form {
    width: 300px;
  }
}
@media screen and (max-width: 450px) {
  .navbar_bg {
    padding: 0px 20px;
  }
}
/*  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #241740;
  color: #C8C3D2;
  font-family: Poppins, sans-serif;
}

/* HEADER */
.header {
  width: 100%;
}
.header .titulo {
  font-family: Dancing Script, cursive;
  font-size: 40px;
  color: #C8C3D2;
  text-decoration: none;
}
.header .titulo:hover {
  color: #FFFFFF;
}
.header .navbar_bg {
  background: linear-gradient(60deg, #241740, #362360);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}
.header .logo_img {
  border-radius: 50%;
  border-color: #e9f3fb;
  border-style: double;
  border-width: 5px;
  height: 70px;
  margin: 10px 15px;
}
.header .logo {
  display: flex;
  align-items: center;
}

.section1 {
  background-color: #241740;
  margin-top: 100px;
}
.section1 .text_section {
  padding: 30px 0px;
  text-align: center;
  color: #C8C3D2;
}

/* FOOTER */
.footer {
  color: #C8C3D2;
  font-family: "Poppins", sans-serif;
  height: 137px;
  width: 100%;
  background-color: #241740;
  background: linear-gradient(180deg, #362360, #241740);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 30px;
}
.footer .home_and_copy {
  display: block;
  text-align: center;
}
.footer div a img {
  width: 30px;
}
.footer ul {
  margin-bottom: 0;
}
.footer ul p {
  margin-bottom: 0;
}
.footer ul li {
  list-style: none;
  display: flex;
  align-items: center;
}
.footer ul li a {
  text-decoration: none;
  color: #C8C3D2;
}
.footer ul li a:hover {
  color: #FFFFFF;
}
.footer ul li .redes {
  width: 30px;
  padding-right: 10px;
}

@media screen and (max-width: 1000px) {
  .navbar_bg {
    padding: 0px 80px;
  }
}
@media screen and (max-width: 700px) {
  .navbar_bg {
    padding: 0px 60px;
  }
}
@media screen and (max-width: 450px) {
  .navbar_bg {
    padding: 0px 20px;
  }
}/*# sourceMappingURL=style.css.map */